/* Reset Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{text-decoration: none;}
/* Navbar */

.navbar{
    height: 60px;
    padding: 2px;
    width: 100%;
    background-color: rgb(199, 11, 11);
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 15px;
}

.container{
    max-width: 970px;
    margin: auto;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.navigation a{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.2s;
    font-family: sans-serif;
    font-size: 19px;
}

.moto{
    position: relative;
}
.moto:after{
    content: "new";
    position: absolute;
    top: -14px;
    left: 25px;
    padding: 2px 5px;
    background-color: #77c81d;
    color: white;
    font-size: 12px;
    border-radius: 5px;
}
.ehtiyyat-li {
    margin: 10px 0;
    position: relative;
    display: inline-block;
}
.li-a {
    list-style: none;
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    border-radius: 7px;
}

.ehtiyyat-li:hover .li-a {
    display: block;
}

.ehtiyyat-a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333!important;
    font-size: 10px;
}
.icare-li {
    margin: 10px 0;
    position: relative;
    display: inline-block;
}

.li-a-2 {
    list-style: none;
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    border-radius: 7px;
}

.icare-li:hover .li-a-2 {
    display: block;
}

.icare-a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333!important;
    font-size: 10px;
    white-space: nowrap;
}
a:hover{
    color:grey
}

img{
    width: 90px;
    cursor: pointer;
}
span{
    padding: 3px 6px;
}
.new{
    background-color: #77c81d;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 12px;
}

button{
    border: none;
}


.elan{
    font-family: sans-serif;
    font-size: 15px;
    background-color: #7ed321;
    border-radius: 7px;
    height: 40px;
    width: 100px;
    color:#fff;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



.container{
    max-width: 1010px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

nav ul li a{
    font-size: 15px;
    color: #8d94ad;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a:hover{
    color:#ca1016;
}

#login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}



#nav ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
}

#help h2{
    font-size: 15px;
    color: #212c3a;
    cursor: default;
}
#registr ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}
#registr ul li a{
    text-decoration: none;
    color:#8d94ad;
    font-size: 15px;
    align-items: center;

}
#registr ul li a:hover{
    color: #ca1016;
}
#registr i{margin-right: 5px;}

#logo{
    width: 100%;
    background-color: #ca1016;
    padding: 10px 0;
}
.dst{
    color: #212c3a;
}
.dst:hover{ color:#ca1016}
.leftlogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.leftlogo ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}


                                                    /* Filter CSS */



#filterarea {
    background-color: #EBEDF3;
    padding: 20px 0;
}

#filterarea .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.markaprice,
.modelKredBartValut,
.novelBanType,
.cityYear {
    width: 235px;
    border-radius: 5px;
}

.marka {
    position: relative;
    width: 100%;
    height: 48px;
}


.marka select {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    border: 1px solid #EBEDF3;
    border-radius: 5px;
    background-color: white;
    color: gray;
}


#aalaa option {
    width: 100%;
    font-size: 20px;
}

.price {
    width: 100%;
    display: flex;
    border: 1px solid #EBEDF3;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}

.price input {
    display: inline-block;
    width: 50%;
    height: 48px;
    color: black;
    outline: none;
    border: none;
    font-size: 20px;
    padding-top: 20px;
}

.price input:nth-child(2) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.price input:nth-child(4) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#minPriceLabel {
    position: absolute;
    z-index: 2;
    color: gray;
    top: 50%;
    left: 0;
    font-size: 20px;
    transform: translate(0, -50%);
    transition: .3s;
}

#maxPriceLabel {
    position: absolute;
    z-index: 2;
    color: gray;
    top: 50%;
    right: 25%;
    font-size: 20px;
    transform: translate(0, -50%);
    transition: .3s;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.model {
    width: 100%;
    position: relative;
    height: 48px;
}

.model select {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    border: 1px solid #EBEDF3;
    border-radius: 5px;
    background-color: white;
    color: gray;
}


.kredBartValut {
    width: 100%;
    height: 48px;
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.kredBartValut .kred {
    width: 33%;
    height: 100%;
}


.kredBartValut select {
    width: 33%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;
}

.kredBartValut select option {
    user-select: none;
}

.kredBartValut #kredLabel {
    width: 33%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: white;
}

.kredBartValut #bartLabel {
    width: 33%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: white;
}

.activeValute {
    color: #ca1016 !important;
    background-color: rgb(219 166 166 / 68%) !important;
    border: 1px solid #ca1016 !important;
}

.activeNovel {
    color: white !important;
    background-color: #ca1016 !important;
    border: 1px solid #ca1016 !important;
}

.novelOldAll {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.novelOldAll #AllNovelLabel {
    width: 33.6%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: white;
    color: gray;
    border: 1px solid #EBEDF3;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.novelOldAll #NewNovelLabel {
    width: 33.6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: white;
    color: gray;
    border: 1px solid #EBEDF3;
}

.novelOldAll #OldNovelLabel {
    width: 33.6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: white;
    color: gray;
    border: 1px solid #EBEDF3;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.novelBanType .banTypes {
    width: 100%;
    height: 48px;
    position: relative;
    margin-top: 12px;
}

.novelBanType .banTypes select {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    border: 1px solid #EBEDF3;
    border-radius: 5px;
    background-color: white;
    color: gray;
}

::selection {
    user-select: none;
}


.cityYear .cityDiv {
    width: 100%;
    height: 48px;
    position: relative;
}

.cityDiv #citiesSelect {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    border: 1px solid #EBEDF3;
    border-radius: 5px;
    background-color: white;
    color: gray;
    font-size: 20px;
}

.minMaxYear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.minMaxYear .minDivYear {
    width: 50%;
    height: 48px;
}

.minMaxYear .maxDivYear {
    width: 50%;
    height: 48px;
}

.minMaxYear select {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(192, 191, 191);
    border-radius: 5px;
    outline: none;
}

.minDivYear #minYearSelect {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: gray;
    font-size: 15px;

}

.maxDivYear #maxYearSelect {
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: gray;
    font-size: 15px;
}


.findReset {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}


.findReset button {
    color: #fff;
    background-color: #ca1016;
    border-color: #ca1016;
    padding: 15px 40px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.findReset button:hover {
    background-color: #aa0c12;
}

#filteredCars{
    background-color: #f5f5f5;
    padding-top: 50px;
}

                                                    /* Card CSS */
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 18px;
    padding: 20px;
}

.card {
    position: relative;
    width: 229px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.card .fa-arrows-rotate {
    position: absolute;
    font-size: 14px;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: #76c81c;
    border-radius: 50%;
    color: white;
}


.card .fa-arrows-rotate::after{
    position: absolute;
    width: 113px;
    display: none;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: .5px;
    content: "Barter mümkündür!";
    padding: 5px;
    background-color: #76c81c;
    color: white;
    font-family: auto;
    border-radius: 5px;
    margin-top: 8px;
}

.card .fa-arrows-rotate:hover::after{
    display: block;
}



.card .fa-percent{
    position: absolute;
    font-size: 14px;
    top: 10px;
    left: 40px;
    padding: 5px 7px;
    background-color: #f5a623;
    border-radius: 50%;
    color: white;
}


.card .fa-percent::after{
    position: absolute;
    width: 71px;
    display: none;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: .5px;
    content: "Kreditdədir!";
    padding: 5px;
    background-color: #f5a623;
    color: white;
    font-family: auto;
    border-radius: 5px;
    margin-top: 8px;
}

.card .fa-percent:hover::after{
    display: block;
}


.cardInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
}

.card img {
    width: 100%;
}


@media only screen and (max-width:1030px) {



    #filterarea {
        padding: 0;
    }

    .findReset {
        justify-content: center;
        gap: 35px;
    }

    #findCars {
        width: 100%;
    }

    #resetInputsButton {
        order: 1;
        width: 100%;
    }

    #filterarea .container {
        gap: 2%;
    }

    .markaprice,
    .modelKredBartValut,
    .novelBanType,
    .cityYear {
        width: 49%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:576px) {


    #filterarea {
        padding: 0;
    }

    .findReset {
        justify-content: center;
        gap: 35px;
    }

    #findCars {
        width: 100%;
    }

    #resetInputsButton {
        order: 1;
        width: 100%;
    }

    .markaprice,
    .modelKredBartValut,
    .novelBanType,
    .cityYear {
        width: 100%;
    }
}

.modal{
    position: absolute;
    width: 800px;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: silver;
    display: none;
}




.container2{
    height: 1000px; 
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;

}

#headbox{
    padding:  20px  40px; background-color: #f1f3f7; 
    width: 100%;
}

h2{ 
    font-weight: bold; 
    font-size:  16px ;  
    color: #212c3a;
}

#cont-bottom{
    padding: 20px;
}

#cond{
    list-style: initial;
    margin-left: 15px;
    margin-bottom: 25px;
}

#cond li{
    font-size: 14px;
    color: #333;
}

#inputs{
    display: flex;
}

 #right{
    width: 300px;
}

#left{
    width: 300px;
    margin-right: 100px;

} 

#inputs li{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}



.m-inp{
    width: 200px;
    padding: 10px 10px;
    
}

#sekil{
    font-size: 25px;
    font-weight: 600;
}

#pic-box{
    margin-top: 5px;
    padding: 10px;
    border: 1px dashed;
    display: flex;
    justify-content: space-between;
}

#pic-text{
    font-size: 15px;
    line-height: 1.33;
    color: #9b9b9b;
}



.pic{
    width: 200px;
    height: 40px;
    background-color: #f6f9ff;    
}

#add-btn{
    width: 100px;
    padding: 10px 20px;
    background-color: blueviolet;
    margin: auto;
    display: block;
}

/* Footer */

.footer {
    background-color: #f1f3f7;
    border-top: 1px solid #eaebf2;
}
.footer-top-link{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    color: #212c3a;
    text-decoration: none;
    transition: 0.5s;
}
.footer-top-link:hover{color: red!important;}
.footer-top-div{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
.fa-facebook-f{
    color: black;
    margin-right: 20px;
}
.fa-instagram{color: black;}
.fa-envelope{color: black;}
.fa-phone{color: black;}
.fa-facebook-f:hover{color: blue!important;}
.fa-instagram:hover{color: rgb(214, 119, 135)!important;}
.fa-envelope:hover{color: red!important;}
.fa-phone:hover{color:rgb(89, 221, 89)!important;}

.footer-menu-all{
    height: 75px;
}
.footer-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-menu-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline-block;
    color: #212c3a;
    text-decoration: none;
    margin-bottom: 3px;
    margin-top: 3px;
}
.footer-menu-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline-block;
    color: #212c3a;
    text-decoration: none;
    margin-bottom: 3px;
}
.footer-bottom-all{
    background-color: #ca1016;
    height: 110px;
}
.copyright-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:white;
    margin: 5px;
}
.copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    margin: 5px;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
}
.masın-modelleri{
    border-top: 2px solid #eaebf2;
    border-bottom: 2px solid #eaebf2;
}
.footer-masınlar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.masın-modelleri-sütunlar{
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.9em;
}
.masın-adları{
    color: black;
}
@media only screen and (min-width: 768px) {
        .footer-top-div{
            color: gray;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            padding: 0 11px;
        }
        .icon-div{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .fa-facebook-f{
            margin-left: 15px;
            padding-bottom: 2px;
            transition: 0.5s;
        }
        .fa-instagram{
            margin-right: 15px;
            padding: 4px;
            font-size: 20px;
            transition: 0.5s;
        }
        .fa-envelope{
            padding: 4px;
            font-size: 20px;
            transition: 0.5s;
        }
        .fa-phone{
            padding: 7px;
            transition: 0.5s;
        }
        .footer-menu-all{
            height: 60px;
        }
        .footer-menu{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            padding: 10px;
        }
        .footer-menu-1{
            margin-right: 30px;
            transition: 0.5s;
        }
        .footer-menu-1:hover{color: red!important;}
        .footer-menu-2{
            margin-right: 30px;
            transition: 0.5s;
        }
        .footer-menu-2:hover{color: red!important;}
        .footer-bottom-all{
            height: 55px;
        }
        .footer-bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding:7px;
        }
        .footer-masınlar{
            padding: 10px;
            display: flex;
        }
        .masın-modelleri-sütunlar{
            display: flex;
            flex-direction: column;
        }
        .masın-adları{
            padding: 6px 0;
            color: #8d94ad;
            transition: 0.5s;
        }
        .masın-adları:hover{color: red!important;}
        .footer-masınlar{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
}







